<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>Patient Data</string>
		<key>fields</key>
		<array>
			<dict>
				<key>name</key>
				<string>patientName</string>
				<key>type</key>
				<string>symbolicTextField</string>
				<key>placeholder</key>
				<string>Patient Name</string>
				<key>items</key>
				<array/>
			</dict>
			<dict>
				<key>name</key>
				<string>patientDOB</string>
				<key>type</key>
				<string>DatePicker</string>
				<key>placeholder</key>
				<string>Patient DOB</string>
				<key>items</key>
				<array/>
			</dict>
			<dict>
				<key>name</key>
				<string>mrNumber</string>
				<key>type</key>
				<string>numericTextField</string>
				<key>placeholder</key>
				<string>Medical Record Number</string>
				<key>items</key>
				<array/>
			</dict>
			<dict>
				<key>name</key>
				<string>dateOfService</string>
				<key>type</key>
				<string>DatePicker</string>
				<key>placeholder</key>
				<string>Date Of Service</string>
				<key>items</key>
				<array/>
			</dict>
			<dict>
				<key>name</key>
				<string>gender</string>
				<key>type</key>
				<string>picker</string>
				<key>placeholder</key>
				<string>Sex</string>
				<key>items</key>
				<array>
					<string>Female</string>
					<string>Male</string>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string></string>
		<key>fields</key>
		<array>
			<dict>
				<key>name</key>
				<string>preOp</string>
				<key>type</key>
				<string>picker</string>
				<key>placeholder</key>
				<string>Pre-op Diagnosis</string>
				<key>items</key>
				<array>
					<string>Right renal mass</string>
					<string>Left renal mass</string>
				</array>
			</dict>
			<dict>
				<key>name</key>
				<string>postOp</string>
				<key>type</key>
				<string>symbolicTextField</string>
				<key>placeholder</key>
				<string>Post-op Diagnosis</string>
				<key>items</key>
				<array/>
			</dict>
			<dict>
				<key>name</key>
				<string>cytoStent</string>
				<key>type</key>
				<string>switcher</string>
				<key>placeholder</key>
				<string>Cysto/Stent</string>
				<key>items</key>
				<array/>
			</dict>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string></string>
		<key>fields</key>
		<array>
			<dict>
				<key>name</key>
				<string>surgeonName</string>
				<key>type</key>
				<string>symbolicTextField</string>
				<key>placeholder</key>
				<string>Surgeon Name</string>
				<key>items</key>
				<array/>
			</dict>
			<dict>
				<key>name</key>
				<string>assistants</string>
				<key>type</key>
				<string>symbolicTextField</string>
				<key>placeholder</key>
				<string>Assistant</string>
				<key>items</key>
				<array>
					<string>assistant</string>
				</array>
			</dict>
			<dict>
				<key>name</key>
				<string>anesthesiologist</string>
				<key>type</key>
				<string>symbolicTextField</string>
				<key>placeholder</key>
				<string>Anesthesiologist</string>
				<key>items</key>
				<array>
					<string>anesthesiologist</string>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string></string>
		<key>fields</key>
		<array>
			<dict>
				<key>name</key>
				<string>tumorSizeCm</string>
				<key>type</key>
				<string>numericTextField</string>
				<key>placeholder</key>
				<string>Tumor Size [cm]</string>
				<key>items</key>
				<array/>
			</dict>
			<dict>
				<key>name</key>
				<string>location</string>
				<key>type</key>
				<string>picker</string>
				<key>placeholder</key>
				<string>Location</string>
				<key>items</key>
				<array>
					<string>Upper pole</string>
					<string>Mid-kidney</string>
					<string>Lower pole</string>
				</array>
			</dict>
			<dict>
				<key>name</key>
				<string>anterior/posterior</string>
				<key>type</key>
				<string>picker</string>
				<key>placeholder</key>
				<string>Anterior/Posterior</string>
				<key>items</key>
				<array>
					<string>Anterior</string>
					<string>Posterior</string>
				</array>
			</dict>
			<dict>
				<key>name</key>
				<string>tumorChar</string>
				<key>type</key>
				<string>picker</string>
				<key>placeholder</key>
				<string>Tumor Characteristics</string>
				<key>items</key>
				<array>
					<string>Endophytic</string>
					<string>Exophytic</string>
					<string>Both</string>
				</array>
			</dict>
			<dict>
				<key>name</key>
				<string>previousAbdominalSurgeries</string>
				<key>type</key>
				<string>switcher</string>
				<key>placeholder</key>
				<string>Previous Abdominal Surgeries</string>
				<key>items</key>
				<array/>
			</dict>
			<dict>
				<key>name</key>
				<string>BMI</string>
				<key>type</key>
				<string>numericTextField</string>
				<key>placeholder</key>
				<string>BMI</string>
				<key>items</key>
				<array/>
			</dict>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string></string>
		<key>fields</key>
		<array>
			<dict>
				<key>name</key>
				<string>intraAbdominalAdhesions</string>
				<key>type</key>
				<string>switcher</string>
				<key>placeholder</key>
				<string>Intra-abdominal Adhesions</string>
				<key>items</key>
				<array/>
			</dict>
			<dict>
				<key>name</key>
				<string>descriptionIntraAbdominalAdhesions</string>
				<key>type</key>
				<string>picker</string>
				<key>placeholder</key>
				<string>Intra-abdominal Adhesions</string>
				<key>items</key>
				<array>
					<string>Less than 30 mins</string>
					<string>Greater than 30 mins</string>
				</array>
			</dict>
			<dict>
				<key>name</key>
				<string>vascularAnomalies</string>
				<key>type</key>
				<string>switcher</string>
				<key>placeholder</key>
				<string>Vuscular Anomalies</string>
				<key>items</key>
				<array/>
			</dict>
			<dict>
				<key>name</key>
				<string>descriptionVascularAnomalies</string>
				<key>type</key>
				<string>symbolicTextField</string>
				<key>placeholder</key>
				<string>Descriprion (if Yes)</string>
				<key>items</key>
				<array/>
			</dict>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string></string>
		<key>fields</key>
		<array>
			<dict>
				<key>name</key>
				<string>renalUltrasound</string>
				<key>type</key>
				<string>switcher</string>
				<key>placeholder</key>
				<string>Renal Ultrasound</string>
				<key>items</key>
				<array/>
			</dict>
			<dict>
				<key>name</key>
				<string>deepMargin</string>
				<key>type</key>
				<string>switcher</string>
				<key>placeholder</key>
				<string>Deep Margin</string>
				<key>items</key>
				<array/>
			</dict>
			<dict>
				<key>name</key>
				<string>renalCollSR</string>
				<key>type</key>
				<string>switcher</string>
				<key>placeholder</key>
				<string>Renal Collection Repair System</string>
				<key>items</key>
				<array/>
			</dict>
			<dict>
				<key>name</key>
				<string>clampTime</string>
				<key>type</key>
				<string>numericTextField</string>
				<key>placeholder</key>
				<string>Clamp Time [min]</string>
				<key>items</key>
				<array/>
			</dict>
			<dict>
				<key>name</key>
				<string>useOfCoagulants?</string>
				<key>type</key>
				<string>switcher</string>
				<key>placeholder</key>
				<string>Usage of Coagulants</string>
				<key>items</key>
				<array/>
			</dict>
			<dict>
				<key>name</key>
				<string>useOfCoagulants</string>
				<key>type</key>
				<string>symbolicTextField</string>
				<key>placeholder</key>
				<string>Enter Coagulants</string>
				<key>items</key>
				<array/>
			</dict>
			<dict>
				<key>name</key>
				<string>bloodLoss</string>
				<key>type</key>
				<string>numericTextField</string>
				<key>placeholder</key>
				<string>Estimated Blood Loss [ml]</string>
				<key>items</key>
				<array/>
			</dict>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string></string>
		<key>fields</key>
		<array>
			<dict>
				<key>name</key>
				<string>counselTime</string>
				<key>type</key>
				<string>numericTextField</string>
				<key>placeholder</key>
				<string>Console Time [min]</string>
				<key>items</key>
				<array/>
			</dict>
			<dict>
				<key>name</key>
				<string>roomTime</string>
				<key>type</key>
				<string>numericTextField</string>
				<key>placeholder</key>
				<string>Room Time [min]</string>
				<key>items</key>
				<array/>
			</dict>
			<dict>
				<key>name</key>
				<string>complations</string>
				<key>type</key>
				<string>symbolicTextField</string>
				<key>placeholder</key>
				<string>Complications</string>
				<key>items</key>
				<array/>
			</dict>
			<dict>
				<key>name</key>
				<string>transfusion?</string>
				<key>type</key>
				<string>switcher</string>
				<key>placeholder</key>
				<string>Transfusion</string>
				<key>items</key>
				<array/>
			</dict>
			<dict>
				<key>name</key>
				<string>transfusion</string>
				<key>type</key>
				<string>symbolicTextField</string>
				<key>placeholder</key>
				<string># of units (is Yes)</string>
				<key>items</key>
				<array/>
			</dict>
			<dict>
				<key>name</key>
				<string>cc</string>
				<key>type</key>
				<string>symbolicTextField</string>
				<key>placeholder</key>
				<string>CC</string>
				<key>items</key>
				<array>
					<string>cc</string>
				</array>
			</dict>
		</array>
	</dict>
</array>
</plist>
