<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>Patient Data</string>
		<key>fields</key>
		<array>
			<dict>
				<key>name</key>
				<string>var_patientName</string>
				<key>type</key>
				<string>symbolicTextField</string>
				<key>placeholder</key>
				<string>Patient Name</string>
				<key>items</key>
				<array/>
			</dict>
			<dict>
				<key>name</key>
				<string>var_patientDOB</string>
				<key>type</key>
				<string>DatePicker</string>
				<key>placeholder</key>
				<string>Patient DOB</string>
				<key>items</key>
				<array/>
			</dict>
			<dict>
				<key>name</key>
				<string>var_MRNumber</string>
				<key>type</key>
				<string>numericTextField</string>
				<key>placeholder</key>
				<string>Medical Record Number</string>
				<key>items</key>
				<array/>
			</dict>
			<dict>
				<key>name</key>
				<string>var_DOS</string>
				<key>type</key>
				<string>DatePicker</string>
				<key>placeholder</key>
				<string>Date Of Service</string>
				<key>items</key>
				<array/>
			</dict>
			<dict>
				<key>name</key>
				<string>var_sex</string>
				<key>type</key>
				<string>picker</string>
				<key>placeholder</key>
				<string>Sex</string>
				<key>items</key>
				<array>
					<string>Female</string>
					<string>Male</string>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string></string>
		<key>fields</key>
		<array>
			<dict>
				<key>name</key>
				<string>var_anesthesiaPerformed</string>
				<key>type</key>
				<string>picker</string>
				<key>placeholder</key>
				<string>Anesthesia Performed</string>
				<key>items</key>
				<array>
					<string>General</string>
					<string>Sedation</string>
				</array>
			</dict>
			<dict>
				<key>name</key>
				<string>var_anesthesiaLocation</string>
				<key>type</key>
				<string>picker</string>
				<key>placeholder</key>
				<string>Right/Left</string>
				<key>items</key>
				<array>
					<string>Right</string>
					<string>Left</string>
				</array>
			</dict>
			<dict>
				<key>name</key>
				<string>var_stonesCount</string>
				<key>type</key>
				<string>picker</string>
				<key>placeholder</key>
				<string>No. of stones</string>
				<key>items</key>
				<array>
					<string>1</string>
					<string>2</string>
					<string>3</string>
					<string>4</string>
					<string>5</string>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>Stone Location</string>
		<key>fields</key>
		<array>
			<dict>
				<key>name</key>
				<string>var_stonesLocations</string>
				<key>type</key>
				<string>picker</string>
				<key>placeholder</key>
				<string>Stone location (#</string>
				<key>items</key>
				<array>
					<string>Upper pole, renal</string>
					<string>Mid-renal</string>
					<string>Lower pole, renal</string>
					<string>Renal pelvis</string>
					<string>Ureteropelvic Junction</string>
					<string>Proximal ureter</string>
					<string>Mid ureter</string>
					<string>Distal ureter</string>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>Stone Size</string>
		<key>fields</key>
		<array>
			<dict>
				<key>name</key>
				<string>var_stonesSizes</string>
				<key>type</key>
				<string>picker</string>
				<key>placeholder</key>
				<string>Stone size in milimeters (#</string>
				<key>items</key>
				<array>
					<string>0,1</string>
					<string>25</string>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>No. of Shockwaves</string>
		<key>fields</key>
		<array>
			<dict>
				<key>name</key>
				<string>var_totalShocks</string>
				<key>type</key>
				<string>numericTextField</string>
				<key>placeholder</key>
				<string>No. of Shockwaves for stone (#</string>
				<key>items</key>
				<array/>
			</dict>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>Stone Fragmentations</string>
		<key>fields</key>
		<array>
			<dict>
				<key>name</key>
				<string>var_fragmentations</string>
				<key>type</key>
				<string>picker</string>
				<key>placeholder</key>
				<string>Degree of fragmentations for stone (#</string>
				<key>items</key>
				<array>
					<string>excellent</string>
					<string>good</string>
					<string>moderate</string>
					<string>poor</string>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string></string>
		<key>fields</key>
		<array>
			<dict>
				<key>name</key>
				<string>var_rateOfWaves</string>
				<key>type</key>
				<string>numericTextField</string>
				<key>placeholder</key>
				<string>Rate of shockwaves</string>
				<key>items</key>
				<array/>
			</dict>
			<dict>
				<key>name</key>
				<string>var_KVWaves</string>
				<key>type</key>
				<string>numericTextField</string>
				<key>placeholder</key>
				<string>kV of shockwaves</string>
				<key>items</key>
				<array/>
			</dict>
			<dict>
				<key>name</key>
				<string>var_pausePerformed</string>
				<key>type</key>
				<string>switcher</string>
				<key>placeholder</key>
				<string>2 minutes pause performed</string>
				<key>items</key>
				<array>
					<string>YES</string>
					<string>NO</string>
				</array>
			</dict>
			<dict>
				<key>name</key>
				<string>complications?</string>
				<key>type</key>
				<string>switcher</string>
				<key>placeholder</key>
				<string>Complications?</string>
				<key>items</key>
				<array>
					<string>YES</string>
					<string>NO</string>
				</array>
			</dict>
			<dict>
				<key>name</key>
				<string>var_complications</string>
				<key>type</key>
				<string>symbolicTextField</string>
				<key>placeholder</key>
				<string>Complications description</string>
				<key>items</key>
				<array/>
			</dict>
			<dict>
				<key>name</key>
				<string>var_followUp</string>
				<key>type</key>
				<string>picker</string>
				<key>placeholder</key>
				<string>Follow up</string>
				<key>items</key>
				<array>
					<string>2 weeks</string>
					<string>6 months</string>
					<string>12 months</string>
					<string>18 months</string>
					<string>24 months</string>
					<string>30 months</string>
					<string>36 months</string>
					<string>42 months</string>
					<string>48 months</string>
					<string>54 months</string>
					<string>60 months</string>
				</array>
			</dict>
		</array>
	</dict>
</array>
</plist>
